<div style="padding: 15%;">
  <mat-card>
    <!-- <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-30" src="assets/img/demo/logoofficefondo.png">
      </div>
    </div>
    
    <div class="text-center mt-4">
      <h2 class="title m-0">Resetear clave</h2>
      <h4 class="body-2 text-secondary m-0">Por favor ingresa tu nueva clave.</h4>
    </div>
    
    <div [formGroup]="datosFormGroupClave" class="p-6 flex flex-col">
      <div align="center">
        <mat-form-field style="width: 50%;">
          <mat-label>Clave</mat-label>
      
          <mat-icon [icIcon]="ickey" class="mr-2" matPrefix></mat-icon>
          <input formControlName="password" matInput required [(ngModel)]="clave">
    
          <mat-error class="errors" *ngIf="datosFormGroupClave.get('password').invalid && (datosFormGroupClave.get('password').touched || datosFormGroupClave.get('password').dirty)">
            <mat-error *ngIf="datosFormGroupClave.get('password').hasError('required')">
               Clave es requerida
            </mat-error>
    
            <mat-error *ngIf="datosFormGroupClave.get('password').errors.minlength">
                La password debe tener al menos 8 caracteres.
            </mat-error>
    
            <mat-error class="error-text" *ngIf="datosFormGroupClave.get('password').hasError('passwordStrength')">
                {{datosFormGroupClave.get('password').errors['passwordStrength']}}
            </mat-error>
          </mat-error>
    
        </mat-form-field>
      </div>
      
      <div align="center">
        <button (click)="actualizarClave()" class="mt-2" style="width: 50%;" color="primary" mat-raised-button type="button">
          Actualizar clave
        </button>
      </div>
      
    </div> -->
  </mat-card>  
</div>
